body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profile-pic {
  border-radius: 50%;
  margin: 1rem;
}
.about-container {
  position: relative;
  margin: 3rem;

}
.about-title {
  position: absolute;
  right: 50%;
}
.about-text {
  margin: 1rem;
}
.navbar {
  margin: 1rem;
}
