* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #afb2c2; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100;
  width: auto;
  position: relative;
  padding-top: 1rem;
  background-color: black;
}

:root {
  --primary: #2c2f30;
  --secondary: #edf0f1;
  --text-shadow: rgb(113, 121, 195);
  --text-color: rgb(163, 71, 61);
}
#root {
  position: relative;
  padding-bottom: 60px;
}
.main-container {
  position: relative;
  height: 100%;
  background-color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header styling start */

li,
a {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1.5rem 1rem;
  /* border-bottom: 0.25rem black solid; */
  max-height: 8rem;
  background-color: var(--secondary);
}
header h1 {
  color: var(--text-color);
  font-size: 2.5rem;
  padding: 0.25rem;
  text-shadow: 2px 1.5px var(--text-shadow);
  margin: 0 0 1rem 0;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  text-shadow: 1.5px 1px var(--text-shadow);
}
.nav-links li a {
  transition: all 0.4s ease 0s;
}
.nav-links li a:hover {
  color: white;
  text-shadow: 2px 2px var(--primary);
}
.nav-link-active {
  color: var(--primary);
  text-shadow: 2px 1.5px var(--secondary);
}

/* header styling end */

/* About Me page styling */
.pic-animation {
  flex: 1;
}

.profile-pic {
  border-radius: 50%;
  margin: 4rem 1rem 0 1rem;
  padding: 1rem;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.about-container {
  position: relative;
  /* margin: 3rem; */
  background-image: linear-gradient(var(--secondary), rgb(47, 47, 244));
  padding: 1rem 0;
}
.about-animation {
  width: 500px;
  margin-top: 3rem;
}
.about-title {
  position: absolute;
  right: 50%;
  font-weight: 500;
  font-size: 2rem;
  color: var(--text-color);
  text-shadow: 1.5px 1px var(--text-shadow);
}
.about-text {
  margin: 1rem 1rem 0 1rem;
  padding: .5rem;
  color: var(--secondary);
  text-shadow: 1.5px 1px var(--text-shadow);
  border: 2px solid lightgrey;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}
.animation-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  max-width: 90vw;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* contact page styling start */

.container {
  width: 100vw;
  max-width: 1200px;
  padding: 1.5rem;
  text-align: center;
  height: 100%;
  background-color: var(--secondary);
}
input {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem;
  border: 1px solid var(--secondary);
  outline: none;
  border-radius: 1rem;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
textarea {
  width: 350px;
  height: 120px;
  border: 2px solid var(--secondary);
  border-radius: 1rem;
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  max-width: 100vw;
  margin: 0 1rem 0 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.button {
  background-color: rgb(77, 131, 225);
  border-radius: 0.5rem;
  box-shadow: 1px 0.5px var(--text-shadow);
}
.container h1 {
  font-weight: 500;
  font-size: 2rem;
  color: rgb(77, 131, 225);
  text-shadow: 1.5px 1px var(--text-shadow);
}
.contact-form {
  animation: slideIn 700ms ease-in;
  margin-top: 1rem;
}
@keyframes slideIn {
  0% {
    transform: skewX(53deg) translateX(-500px);
  }
  100% {
    transform: skew(0deg);
  }
}

/* footer styling */

.footer {
  background-color: black;
}
.logo {
  right: 5%;
  bottom: 0;
  width: 60px;
  border-radius: 50%;
}
.social {
  position: relative;
}
.bottom {
  justify-content: space-around;
  margin: 2px 0;
  text-align: center;
  height: 40px;
  left: 100%;
}

.bottom h3 {
  color: var(--primary-color);
}

.bottom a {
  font-size: 1.25em;
  width: 100%;
  position: relative;
  padding: 2px;
  text-decoration: none;
  color: initial;
}

.bottom .link {
  transition: font-size ease-out 150ms;
  font-size: 3em;
  top: 0%;
  color: white;
  margin: 1rem;
}

.bottom .link:hover {
  font-size: 2em;
}

/* portfolio styling */

.container h1 {
  font-weight: 500;
  font-size: 3rem;
  color: var(--text-color);
  text-shadow: 1.5px 1px var(--text-shadow);
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: rgb(77, 131, 225);
  padding: 10px;
  box-shadow: 0 0 10px black;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
}
.grid-item h3 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

@media (max-width: 750px) {
  .animation-box {
    display: block;
    justify-content: space-between;
    text-align: center;
  }
  
}
@media (max-width: 487px) {
  .about-text {
    max-width: 60%;
  }
  /* .grid-container {
    max-width: 100%;
  } */
  .grid-item {
    max-width: 80%;
  }

}

/* resume section styling */
.resume-text {
  font-size: 1.5rem;
  text-decoration: underline;
  text-shadow: 1.5px 1px var(--text-shadow);
  color: var(--text-color);
  margin: 1rem;

}
.resume-text-li {
  font-size: 1rem;
  text-shadow: 1.5px 1px var(--text-shadow);
  color: var(--text-color);
  margin-left: 1.5rem;


}
.resume {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.resume-title {
  font-size: 1.5rem;
  text-decoration: underline;
  position: absolute;
  left: 0;
  margin: 1rem;
}
.proficiencies {
  margin-bottom: 2rem;
}
@media (max-width: 750px) {
  .resume {
    display: block;
  }
  .resume-title {
    position: relative;
  }
}
