* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #afb2c2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

:root {
  --primary: #2c2f30;
  --secondary: #edf0f1;
  --text-shadow: rgb(113, 121, 195);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header styling start */

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.25rem black solid;
}
header h1 {
  color: var(--secondary);
  font-size: 2.5rem;
  padding: 0.25rem;
  text-shadow: 1.5px 1px var(--text-shadow);
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  text-shadow: 1.5px 1px var(--text-shadow);
}
.nav-links li a {
  transition: all 0.4s ease 0s;
}
.nav-links li a:hover {
  color: white;
  text-shadow: 2px 2px var(--primary);
}
.nav-link-active {
  color: var(--primary);
  text-shadow: 1px 0.5px var(--secondary);
}

/* header styling end */

/* About Me page styling */

.profile-pic {
  border-radius: 50%;
  margin: 3.5rem 1rem 0 1rem;
  padding: 1rem;
}
.about-container {
  position: relative;
  margin: 3rem;
}
.about-title {
  position: absolute;
  right: 50%;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary);
  text-shadow: 1.5px 1px var(--text-shadow);
}
.about-text {
  margin: 1rem;
  color: var(--secondary);
  text-shadow: 1.5px 1px var(--text-shadow);
}

/* contact page styling start */

.container {
  width: 50%;
  max-width: 1200px;
  margin: 2rem auto;
}
input {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem;
  border: 1px solid var(--secondary);
  outline: none;
  border-radius: 1rem;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}
textarea {
	width: 400px;
	height: 120px;
	border: 2px solid var(--secondary);
  border-radius: 1rem;
	padding: 5px;
  font-size: 1rem;
  font-weight: 500;

}

.button {
  background-color: rgb(83, 200, 239);
  border-radius: .5rem;
  box-shadow: 1px .5px var(--text-shadow);
}
.container h1 {
  font-weight: 500;
  font-size: 2rem;
  color: var(--secondary);
  text-shadow: 1.5px 1px var(--text-shadow);

}


